<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Admin Home Page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
	</script>
</head>

<body>
	<div>
		<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">VRL LOGISTIC PVT LTD.</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">

					<ul class="navbar-nav" style="align-items: end;">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">Home</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								About
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">History</a></li>
								<li><a class="dropdown-item" href="#">Mission and Vision</a></li>
								<li><a class="dropdown-item" href="#">Board Of Directors</a></li>
							</ul>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Service
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Logistic</a></li>
								<li><a class="dropdown-item" href="#">Other Service</a></li>
							</ul>
						</li>

						<li class="nav-item">
							<a class="nav-link active" href="#">Investor Desk</a>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Contact
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Contact Us</a></li>
								<li><a class="dropdown-item" href="#">Branch List</a></li>
								<li><a class="dropdown-item" href="#">Track Consignment</a></li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="#">Vehicle Details</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Users
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="getnewuserhomepage">New User</a></li>
								<li><a class="dropdown-item" href="#">Update User</a></li>
								<li><a class="dropdown-item" href="#">Delete User</a></li>
							</ul>
						</li>

					</ul>

				</div>
			</div>
		</nav>
	</div>
</body>

</html>