<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Home</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/HomeStyle.css" rel="stylesheet" />
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
	</script>
	<style>
		.a:hover {
			box-shadow: 10px 10px 8px 10px rgb(250, 201, 5);
		}
		body
		{
			background-color: bisque;
		}
	</style>
</head>

<body>
	<div>
		<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">VRL LOGISTIC PVT LTD.</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown">

					<ul class="navbar-nav" style="align-items: end;">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">Home</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								About
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">History</a></li>
								<li><a class="dropdown-item" href="#">Mission and Vision</a></li>
								<li><a class="dropdown-item" href="#">Board Of Directors</a></li>
							</ul>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Service
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Logistic</a></li>
								<li><a class="dropdown-item" href="#">Other Service</a></li>
							</ul>
						</li>

						<li class="nav-item">
							<a class="nav-link active" href="#">Investor Desk</a>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Contact
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Contact Us</a></li>
								<li><a class="dropdown-item" href="#">Branch List</a></li>
								<li><a class="dropdown-item" href="#">Track Consignment</a></li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="/adminloginpage">Admin Login</a>
						</li>

					</ul>

				</div>
			</div>
		</nav>



		<section id="hero" class="d-flex flex-column justify-content-center align-items-center"
			style="box-shadow: 10px 10px 8px 10px rgb(18, 122, 237); background: url('/Images/logistic_truck.jpg') center center; color: #FF6; background-color: rgba(1,1,1,0.5); background-repeat: no-repeat; background-size: cover;">
			<div class="container text-center text-md-left a" data-aos="fade-up">
				<h1>Welcome to <span>VRL</span></h1>
				<!--<h2>We are Leading Logistics Company and <strong>Front-Runner in Goods Transport</strong> </h2>-->
				<h2 style="padding-top: 15px">We are Leader in <strong>Surface Logistics</strong> Service in India </h2>
				<a href="our_history.aspx" class="btn-get-started scrollto"
					style="padding-left: 10px; padding-right: 10px;">Get Started</a>
				<a href="track_consignment.aspx" class="btn-get-started scrollto"
					style="padding-left: 10px; padding-right: 10px; margin-top: 4px; margin-left: 4px;">Track
					Consignment</a>
			</div>
		</section>


		<main id="main">
			<section id="about" class="team" style="padding-top: 20px; padding-bottom: 20px;">
				<div class="container">


					<div class="row">
						<div class="col-lg-12 col-md-12 d-flex align-items-stretch" style="text-align: center">
							<div class="member" style="margin: auto; padding-top: 10px; box-shadow: none">
								<div class="section-title"
									style="text-align: justify; line-height: 32px; padding-top: 0px; padding-bottom: 0px">
									&nbsp;&nbsp;&nbsp;&nbsp;<strong>F</strong>ounded in 1976, VRL is public listed
									company on NSE &amp; BSE Exchange with a Market capitalization of INR 55.89 billion
									(as on 31.03.2023), we grown into a nationally renowned logistics and transport
									company which is also currently the largest fleet owner of commercial vehicles in
									India. VRL has pioneered in providing a safe and reliable logistics network in the
									field of parcel service, ensuring last mile delivery even in remote locations. We
									integrated hub-and-spoke operating model which enables optimal aggregation of
									consignments from a diversified customer base across multiple industries and
									locations
									<br>
									<p style="display: none">&nbsp;&nbsp;&nbsp;&nbsp;<strong>V</strong>RL is one of the
										front runners in the Indian Passenger Travel Industry amongst the private sector
										players. It has spread its operations to Courier Service, Priority Cargo &amp;
										Transport of Passengers by Air to meet the growing demands of its burgeoning
										customer base.<br>
									</p>
									<br>


									<i class="bx bx-check-double" style="color: #610b02"></i>Services spread across 25
									states &amp; 4 Union Territories.
									<br>
									<i class="bx bx-check-double" style="color: #610b02"></i>Diverse customer base of
									Corporate, SMEs and traders with exclusive focus on B2B services.
									<br>
									<i class="bx bx-check-double" style="color: #610b02"></i>3PL and Warehousing
									Solutions nation wide.
									<br>
									<i class="bx bx-check-double" style="color: #610b02"></i>Award Winning Service
									Quality &amp; continued support of our esteemed customers.
									<br>
									<i class="bx bx-check-double" style="color: #610b02"></i>State - of - the – art
									vehicle maintenance facilities with performance enhancing technological innovations.
									<br>

									<i class="bx bx-check-double" style="color: #610b02"></i>Dedicated In house software
									with own servers and real time data for analysis and MIS.
									<br>
									<i class="bx bx-check-double" style="color: #610b02"></i>Own fuel stations at key
									locations and tie up with IOCL.
									<br>


								</div>

							</div>
						</div>
					</div>

				</div>
			</section>

			<section id="welcome" class="what-we-do" style="padding-top: 20px">
				<div class="container">
					<!--
        <div class="section-title">
          <h2>Welcome to VRL Group</h2>
          <p>We are committed to give quality & reliable service for on-time delivery. Within a short span of time we have emerged as the largest fleet owner of commercial vehicles in India's private sector.</p>
        </div>
        -->
					<div>

						<div class="row">
							<div class="col-md mt-4">
								<div class="icon-box">
									<div class="icon" style="background: rgb(255, 255, 151)">
										<img src="/Images/truck_logo.jpg" width="100" height="100">
									</div>
									<h4><a href="vrl_logistics_service.aspx">Logistics Solutions</a></h4>
									<p>We move consignments of varying size and weight across the country</p>
								</div>
							</div>

							<div class="col-md  mt-4">
								<div class="icon-box">
									<div class="icon" style="background: rgb(255, 255, 150)">
										<img src="/Images/scooter_logo.jpg" width="100" height="100">
									</div>
									<h4><a href="vrl_logistics_service.aspx#courier">Courier Service</a></h4>
									<p>We offer Courier services within the State of Jharkhand.</p>
								</div>
							</div>

							<div class="col-md mt-4">
								<div class="icon-box">
									<div class="icon" style="background: rgb(255, 255, 150)">
										<img src="/Images/truck_logo.jpg" width="100" height="100">
									</div>
									<h4><a href="vrl_logistics_service.aspx#ftl">Full Truckload Services</a></h4>
									<p>We provide FTL service to our customers and provide door-to door FTL service.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div style="">
					<div class="card mb-5 w-50% a" style="padding: 50px; background-color: rgb(225, 225, 225)">
						<div class="row g-0">
							<div class="col-md-4">
								<img src="/Images/pic.jpg" class="img-fluid rounded-start" alt="picture of arijit guha">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">From CMD's Desk</h5>
									<p class="card-text">This is a wider card with supporting text below as a natural
										lead-in to additional content. This content is a little bit longer.</p>

									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
		</main>
	</div>

</body>

</html>