<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>New User</title>
</head>
<body style="background-color: burlywood;">
	<div style="align-items: center;">
<form action="/newuser" method="post">
	Name: <input type="text" name="name" placeholder="Enter Your Name" maxlength="30" required/><br>
	Email: <input type="text" name="email" placeholder="Enter Your Email" maxlength="30" required/><br>
	Mobile Number <input type="text" name="mobile" placeholder="Enter Mobile Number" maxlength="10" minlength="10" required><br>
	Address: <input type="text" name="address" maxlength="100" placeholder="Enter Your Address" required><br>
	Username: <input type="text" name="username" placeholder="Enter A Username" required><br>
	Password: <input type="text" name="password" placeholder="Enter Password" required><br>
	<input type="submit" name="submit" value="Save">
</form>
</div>
</body>
</html>