<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>SKG : HOME</title>
	<link rel="stylesheet" href="/startingPage.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css"
		integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
</head>

<body>
	<!-- navigation bar-->
	<section id="nav-bar">
		<nav class="navbar navbar-expand-lg navbar-light">
			<a class="navbar-brand" href="/home">SKG LOGISTIC PVT. LTD.</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/home">HOME</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							ABOUT US
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="/history">HISTORY</a>
							<a class="dropdown-item" href="/ourmission">OUR MISSION</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							CONTACT
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="/contactuspage">CONTACT US</a>
							<a class="dropdown-item" href="#">BRANCH LIST</a>
							<a class="dropdown-item" href="#">TRACK CONSIGNMENT</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							SERVICES
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="/logistics">Logistics</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/adminloginpage">ADMIN LOGIN</a>
					</li>
				</ul>
			</div>
		</nav>
	</section>
	<!-- slider-------------------->
	<div id="headerSlider">
		<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="Images/logistic_truck.jpg" class="d-block h-10 w-100" alt="...">
				</div>
				<div class="carousel-caption">
					<h3>WELCOME TO SKG LOGISTICS</h3>
					<H6>We are Leader in Surface Logistics Service in India</H6>
				</div>
				<div class="carousel-item">
					<img src="Images/logistic_truck2.webp" class="d-block h-10 w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="Images/logistic_truck.jpg" class="d-block w-100" alt="...">
				</div>
			</div>

		</div>
	</div>

	<!-------------about-------->
	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2 class="text-center">About Us</h2>
					<div class="about-content">
						SKG was founded in 2021 by Mr Jaskaran Singh in Jamshedpur, a small city in Jharkhand with a
						single truck and a vision that was way ahead of its time. SKG gradually expanded its services to
						Jamshedpur, Ranchi and Dhanbad. From this humble beginning SKG has today grown into a nationally
						renowned logistics and transport company which is also currently the largest fleet owner of
						commercial vehicles in India with a fleet of 1000 Vehicles.<br><br>
						Over the years, SKG has pioneered in providing a safe and reliable delivery network in the field
						of parcel service. It has spread its operations to Courier Service, Priority Cargo
						to meet the growing demands of its burgeoning customer base.<br><br>
						3PL & Warehousing solutions offered by SKG are tailor-made and cater to unique needs of its
						diverse customer base. With the largest goods transportation network in India, SKG parcel
						service is indispensable for a large number of Corporate Houses. This network spans the length
						and breadth of the country and is supported by strategically located transshipment hubs. We
						operate through a network of 121 Branch and franchisees to cater our valuable customers and we
						are now in the process of expanding our services to reach even the remotest locations of the
						Country
					</div>
					<button type="button" class="btn btn-primary">Read More>></button>
				</div>
				<div class="col-md-6">
					<h2 class="text-center">Our Mission</h2>
					<div class="about-content">
						To become the Premier Company that cuts across various segments and emerges as the torchbearer
						of each segment that it ventures into.<br><br>
						<h2 class="text-center">Our Vision</h2>
						To provide the highest quality service to our customers by continuously increasing cost
						efficiency and maintaining delivery deadlines. To encourage our workforce to continuously strive
						for quality and excellence in everything they do. To promote team work and create work
						environment that encourages talent and brings out the best in our employees.<br><br>
						<h2 class="text-center">Quality Policy</h2>
						We are committed to provide quality logistics services consistently at reasonable price and to
						continually improve the same to achieve customers delight on a sustainable basis
					</div>
					<button type="button" class="btn btn-primary">Read More>></button>
				</div>
			</div>
		</div>
	</section>
	<section id="services">
		<div class="container">
			<h1>Our Services</h1>
		</div>
		<div class="row services">
			<div class="col-md-3 text-justify ml-5">
				<!--<div class="icon">
					<i class="fa fa-desktop"></i>
				</div>-->
				<h3>General Parcel</h3>
				<p>
					General Parcel forms the core of SKG's business and involves pan Indian movement of consignments of
					varying size and weight across the country on a Less than Truck Load (LTL) godown to godown Basis.
					The Company also provides the option of door collection and door delivery to the customers at a
					cost. The Priority Cargo business involves door-to-door delivery. SKG offers its goods
					transportation services across 10 States and, 3 Union Territories covering all major cities and
					towns in India. Operations in this division are conducted through a network of 121 branches and
					franchisees. We differentiate ourselves from other service providers through our wide service
					network, as well as our ability to provide door-to-door services through company-owned vehicles. We
					provide our customers with billing, collection, load tracking, pick-up and delivery services.
					Operating through owned vehicles enables safest possible movement for consignments with lowest
					incidences of theft, pilferage, damage, etc.
				</p>
			</div>
			<div class="col-md-3 text-justify ml-5">
				<!--<div class="icon">
					<i class="fa fa-desktop"></i>
				</div>-->
				<h3>Courier Service Business</h3>
				<p>
					We offer Courier services for time sensitive documents and packages. Presently, our Courier offering
					is available within the State of Jharkhand. Certain major out-of-Jharkhand locations are being
					serviced through tie-ups with other operators. Our Courier business is operated in 60+ towns and
					cities. Apart from catering to walk-in customers, we also pick up commercial documents and packages
					directly from customers and deliver these to their assigned destination in a time-bound manner on a
					door-to-door basis. In compliance with Indian laws, we do not provide service in relation to mail
					and letters. Our service offering in this vertical includes: time-certain deliveries of documents
					and packages and local ground transport for hand-deliveries.
				</p>
			</div>
			<div class="col-md-3 text-justify ml-5">
				<!--<div class="icon">
					<i class="fa fa-desktop"></i>
				</div>-->
				<h3>Full Truckload Services (FTL)</h3>
				<p>
					We provide FTL service to our customers by leveraging our broad base of select branches as well as
					through our network of independent brokerage agents. We provide door-to door FTL service to our
					customers, in which the goods are loaded on to our vehicle at the premises of the customer and then
					delivered to the specified destination. This service is typically used by manufacturers that have
					large quantities of goods to be transported and is offered at a pre-determined price. In general, we
					provide FTL services to optimize capacity utilization of our vehicles or to those customers who
					offer attractive margins. We maintain our network of independent brokerage agents that have
					partnered with us for a number of years. Brokerage agents complement our network of our branches by
					widening access to customers requiring such FTL service
				</p>
			</div>
		</div>
	</section>
	<!-- --------------team-------- -->
	<section id="team">
		<div class="container">
			<h1>
				Our Team
			</h1>
			<div class="row">
				<div class="col-md-3 profile-pic text-center">
					<div class="img-box">
						<img src="Images/food3.jpg" class="img-responsive">
					</div>
					<h2>Arijit Guha</h2>
					<h3>DEVELOPER</h3>
					<p>MCA Student</p>
				</div>
				<div class="col-md-3 profile-pic text-center">
					<div class="img-box">
						<img src="Images/food3.jpg" class="img-responsive">
					</div>
					<h2>Anurag Kumar</h2>
					<h3>MARKETING</h3>
					<p>MCA Student</p>
				</div>
				<div class="col-md-3 profile-pic text-center">
					<div class="img-box">
						<img src="Images/food3.jpg" class="img-responsive">
					</div>
					<h2>Jaskaran Singh</h2>
					<h3>CEO</h3>
					<p>MCA Student</p>
				</div>
			</div>
		</div>
	</section>
	<!--------contact us------------>
	<section id="contact">
		<div class="container">
			<h1>Contact Us</h1>
			<div class="row">
				<div class="col-md-6">
					<form class="contact-form" method="post" action="/SendContactUsPageInformation">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Name">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Mobile Number">
						</div>
						<div class="form-group">
							<input type="email" class="form-control" placeholder="Email Id">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Full Address">
						</div>
						<button type="submit" name="submit" class="btn btn-primary">SAVE</button>
					</form>
				</div>
				<div class="col-md-6 contact-info">
					<div class="follow">
						<b>Address:</b> Bistupur,Jamshedpur jharkhand india
					</div>
					<div class="follow">
						<b>Phone:</b> 8235204726
					</div>
					<div class="follow">
						<b>Email: </b> arijitguha1708@gmail.com
					</div>
				</div>
			</div>
		</div>
	</section>
	<!----------------- footer -------- -->
	<section id="footer">
		<div class="container text-center">
			<p>SKG LOGISTIC PVT. LTD.</p>
		</div>
	</section>
</body>

</html>